*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 40px auto;
    padding: 0 20 px;

}

label{
    display: block;
    margin-top: 14px;
    font-weight: bold;
}

input[type='text'], input[type='email'], input[type='number'], textarea{
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid #cbcbcb;
  border-radius: 3px;
}

textarea{
    resize: vertical;
    height: 60px;
}

.grupo-radio label, .grupo-box label{
  font-weight: normal;
  display: inline-block;
  margin-right: 12px;
}

.foco{
    border-color: rgb(222, 240, 223) !important;
    background-color:#D3D3D3;
}

.erro{
    border-color: #b91b1b !important;
}

#contador{
    font-size: 12px;
    color: #676767;
}

#mensagem-envio {
    margin-top: 16px;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#mensagem-envio.sucesso {
    background-color: #ccc;
    color: greenyellow;
    display: block;
}
#mensagem-envio.falha{
     background-color: #ccc;
    color: rgb(255, 47, 47);
    display: block;
}

button{
    margin-top: 16px;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 10px;
    
}

button:hover{
   background-color: #a0f7a0;

}